{% extends 'base.html.twig' %}

{% block title %}EtapeFormat index{% endblock %}

{% block body %}
    <h1>EtapeFormat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape_format in etape_formats %}
            <tr>
                <td>{{ etape_format.id }}</td>
                <td>{{ etape_format.libelle }}</td>
                <td>
                    <a href="{{ path('app_etape_format_show', {'id': etape_format.id}) }}">show</a>
                    <a href="{{ path('app_etape_format_edit', {'id': etape_format.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etape_format_new') }}">Create new</a>
{% endblock %}
